requests==2.32.3
openai==1.59.4
langchain==0.3.14
langchain_ollama==0.2.2
langchain-mistralai==0.2.4
langgraph==0.2.61
pydantic==2.10.4
mistralai==1.2.6
langchain-community==0.3.14
langchain-experimental==0.3.4
wikipedia==1.4.0
arize-phoenix==7.6.0
openinference-instrumentation-langchain==0.1.29
langchain-huggingface==0.1.2
chainlit==2.0.1
fastapi==0.115.6
fastapi-cli==0.0.7
locust==2.33.0
aiofiles==23.2.1
aiosmtplib==4.0.0
passlib==1.7.4
bcrypt==4.3.0
mcp==1.9.4
asyncpg==0.30.0
pgvector==0.4.1
SQLAlchemy==2.0.36
qdrant_client==1.14.3
faker==37.4.0
langchain-openai==0.1.22